* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.ajouter {
  background-color: blue;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 7px;
  -webkit-box-shadow: 7px 7px 12px -2px #001457;
  box-shadow: 7px 7px 12px -2px #001457;
  margin-bottom: 4em;
}
.navbarHead {
  display: flex;
  gap: 20px;
  background-color: aliceblue;
  padding: 20px;
  margin: 0 auto;

  width: 85%;
  font: 18px/1.5 sans-serif;
}
.navbarHead a {
  color: rgb(85, 153, 193);
  text-decoration: none;
}

.navbarHead a:hover {
  color: rgb(19, 53, 73);
  transition: all 0.2s ease-in-out;
}

.label {
  display: block;
}
.label2 {
  margin-right: 20px;
}
.space-ch {
  gap: 20px;
}

.title {
  text-align: center;
  font-family: "Paytone One", sans-serif;
}

thead {
  border: 1px solid black;
}
thead th {
  border: 1px solid black;
}
th {
  text-align: center;
}

td {
  text-align: center;
  border: 1px solid lightgray;
}

#close {
  font-weight: bold;
  text-align: right;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 0;
}
#close:hover {
  color: black;
}
.message {
  text-align: center;
  margin-bottom: 0;
}

.heure {
  text-align: left;
}

.messageAttention {
  color: red;
  font-size: 10px;
}
.personnesResa,
.textEmail {
  font-size: 15px;
}
.personnesResa {
  margin-top: 2em;
}

.blue {
  color: rgb(85, 153, 193);
}
