<form id="email-{{reservation.id}}" method="post" action="{{ path('app_emailrecap', {'id': reservation.id}) }}" onsubmit="event.preventDefault()" >
<button class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter" onclick="textEmail('{{reservation.studientId}}','email-{{reservation.id}}')">📧</button>
</form>
 
    <!-- Modal -->

<script>
function textEmail(eleve, idFormulaire){
    const text = document.querySelector('.textModal');
    const titre = document.querySelector('.modal-title');
    const id = document.querySelector('.idFormulaireBouton')

    console.log(eleve)
    text.innerText = "Voulez-vous envoyer un mail de relance à "+ eleve + "?"
    titre.innerText = "Envois mail de relance";
    id.value = idFormulaire;
}

</script>