{% extends 'base.html.twig' %}

{% block title %}Modification d'un emprunt{% endblock %}

{% block body %}

    <h1 class="title mb-5 mt-5">Modification</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
