{% extends 'base.html.twig' %}

{% block title %}Nouvel emprunt{% endblock %}

{% block body %}

    <h1 class="title mt-5 mb-5">Créer un nouvel emprunt</h1>

    {{ include('reservation/_form.html.twig') }}



{% endblock %}
