{% extends 'base.html.twig' %}

{% block title %}New Material{% endblock %}

{% block body %}

    <h1 class="title mt-5 mb-5">Nouveau matériel</h1>

    {{ include('material/_form.html.twig') }}

{% endblock %}
